In [1]:
import pandas as pd

Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

    если источник traffic_source равен yandex или google, то в source_type ставится organic
    для источников paid и email из России - ставим ad
    для источников paid и email не из России - ставим other
    все остальные варианты берем из traffic_source без изменений

In [ ]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head(20)

In [ ]:
def type_source(data):
    if data.traffic_source == 'yandex' or data.traffic_source == 'google':
        return 'organic'
    elif data.region == 'Russia' and (data.traffic_source == 'paid' or data.traffic_source == 'email'):
        return 'ad'
    elif data.region != 'Russia' and (data.traffic_source == 'paid' or data.traffic_source == 'email'):
        return 'other'
    return data.traffic_source

In [ ]:
log['source_type'] = log.apply(type_source, axis = 1)
log.head(10)

Задание 2 

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

- Прочитайте содержимое файла с датафрейм 
- Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [ ]:
url = pd.read_csv('URLs.txt')
url.head(10)

In [ ]:
filtered = url[url['url'].str.contains(r'\/\d{8}\-')]
filtered

Домашнее задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [2]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [6]:
from pymystem3 import Mystem

In [32]:
m = Mystem()
def lemmatizing(data):
    a = m.lemmatize(data['keyword'])
    return ''.join(a).strip()

In [33]:
data['lemmas'] = data.apply(lemmatizing, axis=1)
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль